
body {
    font-family: Aiglon Pro,Arial,sans-serif;
    font: 1em sans-serif;
    line-height: 1.15rem; /* Pour que l'espacement vertical à l'intérieur des blocs de texte sois le même et conforme au site*/
    box-sizing: border-box; /* pour pour bien gérer les dimensionnement et positionnement des boites Pour que le texte soit centré sur l'écran */
}
/************************Start of my navigation bar*********************/
.navigation-Desktop {
    width:100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #6d6d6d;
    gap: 152px;
    padding-left: 100px;
    padding-right: 100px;  
}

.navigation-Desktop a {
    text-decoration: none;
    color: black;
}
.navigation-Desktop li {
    list-style-type: none;
    font-size: 1.125rem;
    line-height: 1.375rem;
    flex-wrap: wrap;
}
.left-header {
    /* background-color: aqua; */
    display: flex;
    width: 894px;
    gap: 10px;
}
.left-header li {
    font-weight: 700;
    flex-wrap: wrap;
}
.desktop-menu {
    /* background-color: rgb(171, 159, 103); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 609px;
    height: 120px;
    flex-wrap: wrap;
}
.logo-Div {
    display: flex;
    align-items: center;
}

.logo-Div img {
    width: 250px;
}

.right-header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 354px;
}
.right-header p {
    font-size: .75rem;
    color: #6d6d6d;
    font-weight: 650;
}
.rh-traduction {
    padding: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* flex-direction: row; */
    /* justify-content: center; */
}

.right-header img {
    /* width: 15px; */
    height: 15px;
}
/************************ End of my navigation bar *********************/
/* -------------------- Mobile menu ---------------------------------*/
.navigation-Mobile {
    display: none;
    justify-content:space-between;
    align-items: flex-start;
    padding-top: 30px;
    /* position: fixed;        A revoir bien sur la version mobile*/
    width: 100%;

}
.burger-menu {
    background-color: white; /* A éffacer*/
}
#hamburger {
    display: none;
}
#hamburger-logo {
    cursor:pointer;
    width: 250px;
    background-color: white; /*A changer*/
    display: block;
    color: black;
    text-align: left;
    transform: translateX(-188px) rotate3d(1turn);
    padding: 30px 30px 30px 40px;
}
.mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(-220px);
    margin-left: 40px;
}
#hamburger-logo, .mobile-menu {
    /* transition: all .4s ease-in-out; */
    transition: 0.9sec; /*Voir la réaction qu'il fait avec nav ou mobile menu*/
}
/* Lorsque #hamburger est coché, le #hamburger-logo et le nav qui sont dans le même parent changent de propriété */
#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ .mobile-menu {
  /* Changement de la position pour afficher les menus */
  transform: translate(0);
}
.mobile-menu a {
    color: black;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.375rem;
}
.mobile-menu a:hover {
    /* background-color: #b21d0a; */
}
/************************ End of my mobile menu *********************/

/************************ Start of my header *********************/
.header-banner {
    margin-bottom: 2.5rem;
    position: relative;
    width: 100%;
    max-width: 92.5rem;
    margin-left: auto;
    margin-right: auto;
}
.header-banner-img {
    /* padding-left: 50px;
    padding-right: 50px; */
}
.header-banner-text {
    /* height: 115px;*/
    /* width: 580px; */
    border: 1px solid white;
    position: absolute;
    /* bottom: 100px;
    left: 90px;
    gap: 10px; */
    /* padding: 10px; */
    background-color: white;
    border-radius: .3125rem;
    display: flex;
    align-items: center;
    /* padding-left: 30px;
    padding-right: 30px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0.625rem 1.5625rem 0.625rem 1.875rem;
    z-index: 2; /*A supprimer*/
    width: 40rem;
    height: 7.3rem;
    line-height: 2.5rem;
    top: 415px;
    left: 30px;
    right: 810px;
    bottom: 30px;
}
.header-banner-text h1 {
    font-weight: 750;
    margin-top: 0.9375rem;
    font-family: Aiglon Pro,Arial,sans-serif;
    width: 35.9375rem;
    height: 5rem;
}
/************************* End of my header *********************/
/***** Start of my main ******/
.main-contenair {
    display: flex;
    flex-direction: column;
}
/*********************** Start of my Section Agenda***********/
.section-Agenda {
    font-size: 0.85rem;
    height: 9.4375rem;
    padding: 0px 60px 60px 60px;
    box-sizing: border-box;
    max-width: 92.5rem;
    width: 100%;
}
.agenda-title {
    width: 100%;
    /* height: 144px; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 30px;
    margin: 0px 120px 40px 30px; /*Le 120px est à revoir parce pas bien spécifier par rapport à la logique*/
    /* background-color: rgb(184, 156, 210); */
    border-left: 1px solid #6d6d6d;
}
.block1-agenda {
    font-size: 0.85rem;
    margin-left: 30px;
    border-right: 1px solid #6d6d6d;
    width: 300px;
}
.block2-agenda {
    font-size: 0.85rem;
    border-right: 1px solid #6d6d6d;
    width: 309.5px;
}
.block3-agenda {
    font-size: 0.85rem;
    border-right: 1px solid #6d6d6d;
    margin-right: 30px;
    width: 300px;
}
.block4-agenda {
    font-size: 0.85rem;
    margin-right: 30px;
    /* border-left: 1px solid #6d6d6d; */
}
.time-agenda {
    display: inline-block; /* Pour q'il reste sur la meme ligne que H2*/
    border: 1px solid #6d6d6d;
    color: red;
    font-size: 0.85rem;
    margin-left: 10px;
}
.text-agenda-gras {
    display: block;
    font-weight: 700;
}
.text-agenda-mince{
    line-height: 2px;
}
.time-agenda2 {
    display: inline-block;
    color: rgb(6, 5, 5);
    font-size: 0.85rem;
    font-weight: 700;
    border: 1px solid #6d6d6d;
    margin-right: 10px;
}
.block4-Agenda-socialNetwork {
    display: flex;
    gap:15px;
}
/*************** End of my Section Agenda***************************/

/***************** Start of my "History" section  ******************* */
.section-History {
    display: flex;
    flex-direction: column;
    /* width: 1480px; */
    /* A supprimer si nécessaire*/
    width: 100%;
    padding-bottom: 2.5rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-sizing: border-box;
    max-width: 92.5rem;
    position: relative;
}
.history-Blocs {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 1.25rem;
    padding-bottom: 1.875rem;
    padding-left: 0px;
    /* margin-top: 0px;
    margin-right: -1.25rem;
    margin-bottom: -1.875rem;
    margin-left:0px; */
}
.section-History h2 {
    margin-bottom: .9375rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-family: Aiglon Bold,Arial,sans-serif;
    color: #b21d0a;
    text-transform: uppercase;
}
.bloc1-History {
    /* width: 320px;
    height: 504px; */
    margin-right: 2.5rem;
    /* position: relative; */
}
.bloc2-History {
    margin-right: 0;
}
.History-img {
    overflow: hidden;
    border-radius: .3125rem;
}
.history-H3 {
    margin-top: .625rem;
    font-size: 1rem;
    line-height: 1.375rem;
    margin-bottom: 0rem;
}
.history-P {
    color: #767676;
    font-size: .75rem;
    line-height: 1.25rem;
    margin-bottom: 0;
    padding-bottom: .3125rem;
}

/***************** End of my "History" section  ******************* */
/***************** Start of my "Cocorico" section  ******************* */
.section-Cocorico { 
  display: block;
  position: relative;
  top: 30px;
  z-index: auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: white;
  max-width: 92.5rem;
  max-height: 10.9375rem;
  box-sizing: border-box;
} 
.section-Cocorico-prime {
    display: flex;
    justify-content: space-between;
    /* margin-top: 3.125rem; */
    margin-left: auto;
    margin-right: auto;
    padding-top: auto;
    padding-right: auto;
    background-color: #f2f5fe;
    position: relative;
    flex-wrap: wrap;
    /* padding: 1.25rem 1.25rem 1.875rem .75rem; */
    border-radius: .625rem;
    font-size: .9375rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    max-width: 80.5rem;
    height: 12.4rem;
}

.cocorico-prime-img {
    position: relative;
    height: auto;
    font-size: .9375rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    display: flex;/* A supprimer*/
    flex-shrink: 0; /* A supprimer*/
    z-index: auto;
}
.image-Cocorico {
    position: absolute;
    z-index: 1; /*A supprimer*/
    top: 64px;
    left: 18px;
    border-style: none;
    width: 6.5rem;
    height: 9.5rem;
    transform: translateY(-75%);
    display: block;
    box-sizing: border-box; /*A supprimer*/
}
.decouvrez-Cocorico {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.decouvrez-Cocorico h2 {
    font-weight: 750; 
}
.decouvrez-Cocorico p {
  /* font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0;
  margin-bottom: 0;  */
}
.Cocorico-prime-right {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    border: 0 none;
}
.image.fleche {
    margin-right: .625rem;
    width: 2.5rem;
    height: 2.5rem;
}

/***************** End of my "Cocorico" section  ******************* */

/*End of my main*/
/*Start of my footer*/
footer {
    position: relative;
    width: 100%;
    /* height: 47.9136; */
    display: flex;
    flex-direction: column;
    background-color: #10162f;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-sizing: border-box;
    /* margin-top: 8.9375rem; pour donner la place au flottant */
}
.footer-Section1 {
    display: flex;
    flex-direction: column;
    /* width: 960px;
    height: 352px; */
    padding-top: 2.25rem;
    margin-left: auto;
    margin-right: auto;
    /* padding: auto;
    margin: auto; */
    /* height: 33.4375rem; */
    padding-bottom: 2.5rem;
    position:relative

}
.footer-Section1-img {
    margin: auto;
}
.footer-Section1-text {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
}

footer h3 {
    font-family: Aiglon Pro,Arial,sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    margin-bottom: .9375rem;
    color: white;
}
footer p {
    font-family: Aiglon Pro,Arial,sans-serif;
    font-weight: 500;
    font-size: .875rem;
    line-height: 0.5rem;
    color: white;
}
footer a, li {
    font-family: Aiglon Pro,Arial,sans-serif;
    font-weight: 500;
    font-size: .875rem;
    line-height: 0.5rem;
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.footer-Section2 {
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    padding-top: 2.5rem;
    padding-left: 1.25rem;
    padding-bottom: 2.5rem;
    padding-right: 1.25rem;
    background-color: #2c3356;
    border-radius: .9375rem .9375rem 0 0;
}
.footer-Section2-prime {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
}

/**************End of my footer**********/